* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}
header {
  background-color: black;
}
.container {
  max-width: 1024px;
  padding: 0px 22px;
  margin: 0 auto;
  width: 100%;
}
.header-menu {
  color: gray;
}
.header-menu > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}
.header-view {
  border-bottom: 1px solid gray;
  padding: 15px 0px;
}
.headerview-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech-buy > ul {
  display: flex;
}

.tech-buy li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  padding: 6px 13px;
}
.view > a {
  color: #333;
}
.iphone-14 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.buy-btn {
  color: white;
  background-color: #0071e3;
  border-radius: 980px;
}
.submenu {
  width: 100%;
  background-color: #333;
  position: absolute;
  padding: 30px 0px;
  left: 0px;
  display: none;
  z-index: 99;
}
.header-menu > ul li a {
  color: gray;
  text-decoration: none;
}
.submenu-flex span {
  font-size: 13px;
  color: gray;
  display: block;
  margin-bottom: 15px;
}
.submenu-flex ul li a {
  color: white;
}
.submenuflex-1 a {
  font-size: 25px;
  font-weight: bold;
}
.submenuflex-2 a {
  font-size: 13px;
}
.submenu-flex {
  display: flex;
}
.submenuflex-1 {
  margin-right: 60px;
}

.header-menu > ul li {
  line-height: 34px;
}
.header-menu > ul > li:hover .submenu {
  display: block;
}
.header-menu > ul > li:first-child {
  line-height: normal;
}
.header-video {
  position: relative;
  width: 100%;
}
.header-video video {
  max-height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}
.minitxt > a {
  font-size: 13px;
}
.submenuflex-3 {
  margin-right: 45px;
  margin-left: 20px;
}
.pro-colors {
  padding: 45px 0px;
  display: flex;
  justify-content: space-between;
}
.pro-title {
  color: #d5d4d4;
  font-weight: bold;
  font-size: 62px;
}
.purple,
.gold,
.silver,
.black {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.color-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purple-circle {
  background-color: #301934;
  padding: 11px 11px;
  border-radius: 100%;
  margin-left: 15px;
}
.gold-circle {
  background-color: #cfc8a1;
  padding: 11px 11px;
  border-radius: 100%;
}
.silver-circle {
  background-color: #d0cccc;
  padding: 11px 11px;
  border-radius: 100%;
}
.black-circle {
  background-color: #535252;
  padding: 11px 11px;
  border-radius: 100%;
}
.only-colors {
  display: flex;
}
.dsp-none {
  display: none;
}
/* #dspnone {
  display: none;
} */
