* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}
header {
  background-color: black;
}
.container {
  max-width: 1024px;
  padding: 0px 22px;
  margin: 0 auto;
  width: 100%;
}
.header-menu {
  color: gray;
}
.header-menu > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}
.header-view {
  border-bottom: 1px solid gray;
  padding: 15px 0px;
}
.headerview-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech-buy > ul {
  display: flex;
}

.tech-buy li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  padding: 6px 13px;
}
.iphone-14 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.buy-btn {
  color: white;
  background-color: #0071e3;
  border-radius: 980px;
}
.submenu {
  width: 100%;
  background-color: #333;
  position: absolute;
  padding: 30px 0px;
  left: 0px;
  display: none;
  z-index: 99;
}
.header-menu > ul li a {
  color: gray;
  text-decoration: none;
}
.submenu-flex span {
  font-size: 13px;
  color: gray;
  display: block;
  margin-bottom: 15px;
}
.submenu-flex ul li a {
  color: white;
}
.submenuflex-1 a {
  font-size: 25px;
  font-weight: bold;
}
.submenuflex-2 a {
  font-size: 13px;
}
.submenu-flex {
  display: flex;
}
.submenuflex-1 {
  margin-right: 60px;
}

.header-menu > ul li {
  line-height: 34px;
}
.header-menu > ul > li:hover .submenu {
  display: block;
}
.header-menu > ul > li:first-child {
  line-height: normal;
}
.header-video {
  position: relative;
  width: 100%;
}
.header-video video {
  max-height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}
.minitxt > a {
  font-size: 13px;
}
.submenuflex-3 {
  margin-right: 45px;
  margin-left: 20px;
}
.pro-colors {
  padding: 45px 0px;
  display: flex;
  justify-content: space-between;
}
.pro-title {
  color: #d5d4d4;
  font-weight: bold;
  font-size: 65px;
}
.color-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purple-circle {
  background-color: #301934;
  padding: 11px 11px;
  border-radius: 100%;
  margin-left: 15px;
}
.gold-circle {
  background-color: #cfc8a1;
  padding: 11px 11px;
  border-radius: 100%;
}
.silver-circle {
  background-color: #d0cccc;
  padding: 11px 11px;
  border-radius: 100%;
}
.black-circle {
  background-color: #535252;
  padding: 11px 11px;
  border-radius: 100%;
}
.only-colors {
  display: flex;
}

.color-btn {
  display: flex;
  gap: 6px;
}
.color-btn div {
  cursor: pointer;
}
.purple {
  display: flex;
  align-items: center;
}
.purple h3 {
  color: white;
  display: none;
  font-size: 19px;
}
.newclass {
  display: block !important;
}
.iphoneimgs img {
  display: none;
  max-width: 690px;
  width: 100%;
}
.iphoneimgs {
  display: flex;
  justify-content: center;
}
.sect1-title {
  padding: 80px 0px;
}
.sect1-title > h1 {
  font-size: 32px;
  color: #cecece;
  text-align: center;
}
.sect1-title > button {
  display: flex;
  margin: 0 auto;
  margin-top: 35px;
  background-color: #0564bd;
  color: white;
  border: 0;
  padding: 8px 16px;
  font-size: 17px;
  border-radius: 980px;
}
.sect1title-dinamic {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dinamic-island {
  background-color: #000;
  width: 60%;
  padding: 10px;
  border-radius: 25px;
  max-height: 660px;
  overflow: hidden;
  position: relative;
}
.dinamic-island h1 {
  color: #b344ff;
  font-size: 40px;
  padding: 35px 0px;
  text-align: center;
  font-family: sans-serif;
}
.dinamic-island img {
  display: flex;
  margin: 0 auto;
}
.dinamicisland-2 {
  width: 40%;
  padding-left: 21px;
}
.dinamicisland-2 img {
  width: 100%;
  max-height: 328px;
  object-fit: cover;
}
.maincamera,
.mastermind {
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background-color: black;
  height: 317px;
}
.maincamera {
  margin-bottom: 19px;
}
.mastermind {
  background-color: black;
  height: 317px;
  position: relative;
}
.mastermind h1 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  color: #ffb6ff;
  margin-left: 40px;
  margin-top: 40px;
  opacity: 0;
  transition: all 3s;
}
.mastermind img {
  position: absolute;
  top: 40px;
  left: 40px;
  transition: all 1.5s ease-in-out;
}
.mastermind.animated img {
  top: 200px;
}
.mastermind.animated h1 {
  opacity: 1;
}
.maincamera {
  position: relative;
}
.maincamera h1 {
  position: absolute;
  font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 600;
  letter-spacing: 0.009em;
  color: white;
  bottom: 30px;
  left: 40px;
  opacity: 0;
  transition: all 1.5s;
}
.maincamera.animated h1 {
  opacity: 1;
}
.maincamera img {
  position: absolute;
  bottom: -117px;
  transition: all 1.5s ease-in-out;
  opacity: 0;
}
.maincamera.animated img {
  bottom: 0;
  opacity: 1;
}
.dinamicbtn {
  background-color: white;
  position: absolute;
  bottom: 15px;
  border-radius: 50%;
  right: 30px;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
}
.dinamicbtn i {
  position: relative;
  top: 7px;
  color: black;
}
.allDay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 0px;
}
.allDaysect {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.alldays {
  width: 40%;
  background-color: #000;
  border-radius: 25px;
}
.alldayfilm {
  width: 60%;
}
.allday-text {
  text-align: center;
  padding: 73px 86px;
}
.allday-text > h2 {
  color: #b344ff;
  font-size: 25px;
  font-family: monospace;
}
.alltext {
  margin-top: 10px;
}
.alltext h1 {
  color: #f389f3;
  font-size: 70px;
}
.all_left {
  margin-left: -45px;
}
.all_right {
  margin-right: -85px;
}
